@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1599px) {
    @content;
  }
}

@mixin phone {
  @media (min-width: 320px) and (max-width: 767px) {
    @content;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/******************************[ HEADER ]************************************/

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 118px;
  padding-right: 118px;
  background-color: #1b1a1a;

  @include tablet {
    height: 52px;
    padding-left: 26px;
    text-align: center;
    align-items: center;
  }

  @include phone {
    height: 50px;
    padding-left: 26px;
    padding-right: 26px;
    text-align: center;
    align-items: center;
  }
}

.header__logo-link {
  display: flex;
  text-decoration: none;
}

.header__logo-name {
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;

  @include tablet {
    font-size: 28px;
  }

  @include phone {
    font-size: 24px;
  }
}

.header__logo-image {
  width: 53px;
  height: 53px;
  margin-left: 6px;
  background-color: #fff;
  border-radius: 50%;
}

.nav {
  display: none;
  @include phone {
    display: flex;
    justify-content: flex-end;
  }
}

.nav__menu {
  @include phone {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 1000;
  }
}

.nav__menu-item {
  @include phone {
    padding: 10px;
    margin-top: 10px;
    background-color: #1b1a1a;
    border: 1px solid #00e492;
  }
}

.nav__menu-link {
  @include phone {
    font-size: 16px;
    color: #00e492;
    text-decoration: none;
  }
}

.nav__trigger {
  @include phone {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
  }
}

.nav__trigger-item {
  @include phone {
    display: block;
    width: 30px;
    height: 6px;
    margin: 4px auto;
    background: #fff;
  }
}

.show {
  @include phone {
    display: block;
  }
}

.header__list {
  display: flex;

  @include phone {
    display: none;
  }
}

.header__list-link {
  text-decoration: none;
}

.header__list-item {
  margin-left: 73px;

  @include tablet {
    margin-left: 53px;
  }

  @include phone {
    margin-left: 32px;
  }
}

.header__list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;

  &:hover {
    color: #00e492;
  }

  @include tablet {
    font-size: 28px;
  }

  @include phone {
    font-size: 18px;
  }
}

/******************************[ MAIN ]************************************/
.main {
  position: relative;
  padding-top: 35px;
  padding-bottom: 103px;
  padding-left: 118px;
  padding-right: 118px;
  background-color: #373737;

  @include tablet {
    padding-top: 18px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @include phone {
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.main__title {
  margin-top: 43px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #fff;

  @include tablet {
    margin-top: 0;
  }

  @include phone {
    margin-top: 0;
    font-size: 18px;
  }
}

.main__film,
.main__actors,
.main__starships {
  @include phone {
    position: relative;
  }
}

.main__film-header,
.main__starships-header,
.main__actors-header {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phone {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
  }
}

.film__slider,
.actor__slider,
.starship__slider {
  margin-top: 43px;
}

.film__slider-list,
.actor__slider-list,
.starship__slider-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 245px);
  grid-gap: 43px 115px;

  @include tablet {
    grid-template-columns: repeat(3, 193px);
    grid-gap: 70px 50px;
  }

  @include phone {
    grid-template-columns: repeat(2, 132px);
    grid-gap: 45px 25px;
  }
}

.film__slider-item,
.actor__slider-item,
.starship__slider-item {
  &:hover {
    transform: scale(1.05);
    transition: 0.5s;

    @include phone {
      transform: scale(1);
    }
  }
}

.slider__img {
  border-radius: 6px;
}

/* Кнопки вперед и назад */

.actor__prev-slide,
.actor__next-slide,
.starship__prev-slide,
.starship__next-slide {
  width: auto;
  position: absolute;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  transition: 0.6s ease;
  border-radius: 6px;
  background-color: #1b1a1a;
  border-color: #1b1a1a;
  cursor: pointer;
}

.actor__prev-slide,
.actor__next-slide {
  top: 50%;

  @include tablet {
    top: 31.7%;
    font-size: 24px;
  }

  @include phone {
    top: 5%;
    font-size: 16px;
  }
}

.starship__prev-slide,
.starship__next-slide {
  top: 82%;

  @include tablet {
    top: 69.3%;
    font-size: 24px;
  }

  @include phone {
    top: 5%;
    font-size: 16px;
  }
}

.actor__prev-slide,
.starship__prev-slide {
  left: 1%;
}

.actor__next-slide,
.starship__next-slide {
  right: 1%;
}

.actor__prev-slide:hover,
.actor__next-slide:hover,
.starship__prev-slide:hover,
.starship__next-slide:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.film__search-input,
.actor__search-input,
.starship__search-input {
  width: 400px;
  height: 30px;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border-radius: 6px;
  border: none;

  &:focus {
    outline: none;
  }

  @include phone {
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
  }
}

.film__search-btn,
.actor__search-btn,
.starship__search-btn {
  margin-left: 10px;
  width: 100px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  background-color: #1b1a1a;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #00e492;
    transition: 0.7s;
  }

  @include phone {
    margin-top: 10px;
    font-size: 16px;
  }
}

.film__browse-link,
.starship__browse-link,
.actor__browse-link {
  text-decoration: none;
}

.film__list-link,
.starship__list-link,
.actor__list-link,
.film__other-link {
  text-decoration: none;
  color: #fff;
}

.film__list-name,
.starship__list-name,
.actor__list-name {
  width: 245px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #fff;

  @include tablet {
    width: 193px;
    font-size: 16px;
  }

  @include phone {
    width: 132px;
    font-size: 14px;
  }
}

.starship__list-name {
  text-transform: uppercase;
}

.film__list-poster,
.actor__list-poster,
.starship__list-poster {
  width: 245px;
  height: 350px;
  border-radius: 6px;
  background-color: #000;

  @include tablet {
    width: 193px;
    height: 278px;
  }

  @include phone {
    width: 132px;
    height: 198px;
  }
}

.film__list-year,
.starship__list-year,
.actor__list-year,
.film__list-info {
  margin-top: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;

  @include tablet {
    font-size: 14px;
    margin-top: 10px;
  }

  @include phone {
    font-size: 14px;
  }
}

.starship__list-info {
  margin-top: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;

  @include tablet {
    font-size: 14px;
    margin-top: 10px;
  }

  @include phone {
    font-size: 14px;
  }
}

.actor__list-rus-name {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;

  @include tablet {
    font-size: 14px;
    margin-top: 10px;
  }

  @include phone {
    font-size: 14px;
  }
}

.film__list-block:hover,
.starship__list-block:hover,
.actor__list-block:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.film__list-rating {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #00e492;

  @include tablet {
    font-size: 14px;
    margin-top: 10px;
  }

  @include phone {
    font-size: 14px;
  }
}

/******************************[ Footer ]************************************/
.footer {
  display: grid;
  justify-content: center;
  padding-top: 43px;
  padding-bottom: 43px;
  background-color: #1b1a1a;

  @include tablet {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

.footer__support,
.footer__partners {
  width: 627px;

  @include phone {
    width: 288px;
  }
}

.footer__support-title,
.footer__partners-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;

  @include tablet {
    font-size: 28px;
  }

  @include phone {
    font-size: 18px;
  }
}

.footer__support-number {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #fff;

  @include phone {
    font-size: 16px;
  }
}

.footer__support-email {
  margin-top: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #fff;

  @include phone {
    font-size: 16px;
  }
}

.footer__support-info {
  margin-left: 253px;

  @include phone {
    margin-left: 70px;
    font-size: 16px;
  }
}

.footer__partners {
  margin-top: 47px;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.socials__item {
  margin-left: 28px;
}

.socials__picture {
  @include tablet {
    width: 30px;
    height: 30px;
  }

  @include phone {
    width: 30px;
    height: 30px;
  }
}

.socials__picture:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.footer__copyright {
  margin-top: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #fff;
  text-align: center;

  @include phone {
    font-size: 18px;
  }
}
