@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/******************************[ HEADER ]************************************/
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 118px;
  padding-right: 118px;
  background-color: #1b1a1a;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .header {
    height: 52px;
    padding-left: 26px;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 50px;
    padding-left: 26px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
  }
}

.header__logo-link {
  display: flex;
  text-decoration: none;
}

.header__logo-name {
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .header__logo-name {
    font-size: 28px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__logo-name {
    font-size: 24px;
  }
}

.header__logo-image {
  width: 53px;
  height: 53px;
  margin-left: 6px;
  background-color: #fff;
  border-radius: 50%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav__menu {
    margin-top: 36px;
    z-index: 1000;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav__menu-close {
    position: absolute;
    left: 37%;
    top: 7%;
    padding: 5px 10px;
    background-color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav__menu-item {
    padding: 10px 40px;
    margin-top: 10px;
    background-color: #1b1a1a;
    border: 1px solid #fff;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav__menu-link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav__trigger {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav__trigger-item {
    display: block;
    width: 30px;
    height: 6px;
    margin: 4px auto;
    background: #fff;
  }
}

.header__list {
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header__list-link {
  text-decoration: none;
}

.header__list-item {
  margin-left: 73px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .header__list-item {
    margin-left: 53px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__list-item {
    margin-left: 32px;
  }
}

.header__list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
}
.header__list-title:hover {
  color: #00e492;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .header__list-title {
    font-size: 28px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__list-title {
    font-size: 18px;
  }
}

/******************************[ MAIN ]************************************/
.main {
  position: relative;
  padding-top: 35px;
  padding-bottom: 103px;
  padding-left: 118px;
  padding-right: 118px;
  background-color: #373737;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .main {
    padding-top: 18px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main {
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.main__title {
  margin-top: 43px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .main__title {
    margin-top: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__title {
    margin-top: 0;
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main__film,
.main__actors,
.main__starships {
    position: relative;
  }
}

.main__film-header,
.main__starships-header,
.main__actors-header {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__film-header,
.main__starships-header,
.main__actors-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
  }
}

.film__slider,
.actor__slider,
.starship__slider {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film__slider-list,
.actor__slider-list,
.starship__slider-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 245px);
  grid-gap: 43px 115px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .film__slider-list,
.actor__slider-list,
.starship__slider-list {
    grid-template-columns: repeat(3, 193px);
    grid-gap: 70px 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .film__slider-list,
.actor__slider-list,
.starship__slider-list {
    grid-template-columns: repeat(2, 132px);
    grid-gap: 45px 25px;
  }
}

.film__slider-item:hover,
.actor__slider-item:hover,
.starship__slider-item:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
@media (min-width: 320px) and (max-width: 767px) {
  .film__slider-item:hover,
.actor__slider-item:hover,
.starship__slider-item:hover {
    transform: scale(1);
  }
}

.slider__img {
  border-radius: 6px;
}

/* Кнопки вперед и назад */
.actor-nav, .starship-nav {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.actor-nav__prev,
.actor-nav__next,
.starship-nav__prev,
.starship-nav__next {
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 6px;
  background-color: #1b1a1a;
  border-color: #1b1a1a;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .actor-nav__prev,
.actor-nav__next,
.starship-nav__prev,
.starship-nav__next {
    font-size: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .actor-nav__prev,
.actor-nav__next,
.starship-nav__prev,
.starship-nav__next {
    font-size: 16px;
  }
}

.actor-nav__prev, .starship-nav__prev {
  margin-right: 10px;
}

.actor-nav__prev:hover,
.actor-nav__next:hover,
.starship-nav__prev:hover,
.starship-nav__next:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.film__search-input,
.actor__search-input,
.starship__search-input {
  width: 400px;
  height: 30px;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border-radius: 6px;
  border: none;
}
.film__search-input:focus,
.actor__search-input:focus,
.starship__search-input:focus {
  outline: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .film__search-input,
.actor__search-input,
.starship__search-input {
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
  }
}

.film__search-btn,
.actor__search-btn,
.starship__search-btn {
  margin-left: 10px;
  width: 100px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  background-color: #1b1a1a;
  color: #fff;
  cursor: pointer;
}
.film__search-btn:hover,
.actor__search-btn:hover,
.starship__search-btn:hover {
  background-color: #00e492;
  transition: 0.7s;
}
@media (min-width: 320px) and (max-width: 767px) {
  .film__search-btn,
.actor__search-btn,
.starship__search-btn {
    margin-top: 10px;
    font-size: 16px;
  }
}

.film__browse-link,
.starship__browse-link,
.actor__browse-link {
  text-decoration: none;
}

.film__list-link,
.starship__list-link,
.actor__list-link,
.film__other-link {
  text-decoration: none;
  color: #fff;
}

.film__list-name,
.starship__list-name,
.actor__list-name {
  width: 245px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .film__list-name,
.starship__list-name,
.actor__list-name {
    width: 193px;
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .film__list-name,
.starship__list-name,
.actor__list-name {
    width: 132px;
    font-size: 14px;
  }
}

.starship__list-name {
  text-transform: uppercase;
}

.film__list-poster,
.actor__list-poster,
.starship__list-poster {
  width: 245px;
  height: 350px;
  border-radius: 6px;
  background-color: #000;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .film__list-poster,
.actor__list-poster,
.starship__list-poster {
    width: 193px;
    height: 278px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .film__list-poster,
.actor__list-poster,
.starship__list-poster {
    width: 132px;
    height: 198px;
  }
}

.film__list-year,
.starship__list-year,
.actor__list-year,
.film__list-info {
  margin-top: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .film__list-year,
.starship__list-year,
.actor__list-year,
.film__list-info {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .film__list-year,
.starship__list-year,
.actor__list-year,
.film__list-info {
    font-size: 14px;
  }
}

.starship__list-info {
  margin-top: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .starship__list-info {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .starship__list-info {
    font-size: 14px;
  }
}

.actor__list-rus-name {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .actor__list-rus-name {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .actor__list-rus-name {
    font-size: 14px;
  }
}

.film__list-block:hover,
.starship__list-block:hover,
.actor__list-block:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.film__list-rating {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #00e492;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .film__list-rating {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .film__list-rating {
    font-size: 14px;
  }
}

/******************************[ Footer ]************************************/
.footer {
  display: grid;
  justify-content: center;
  padding-top: 43px;
  padding-bottom: 43px;
  background-color: #1b1a1a;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

.footer__support,
.footer__partners {
  width: 627px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__support,
.footer__partners {
    width: 288px;
  }
}

.footer__support-title,
.footer__partners-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__support-title,
.footer__partners-title {
    font-size: 28px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__support-title,
.footer__partners-title {
    font-size: 18px;
  }
}

.footer__support-number {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__support-number {
    font-size: 16px;
  }
}

.footer__support-email {
  margin-top: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__support-email {
    font-size: 16px;
  }
}

.footer__support-info {
  margin-left: 253px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__support-info {
    margin-left: 70px;
    font-size: 16px;
  }
}

.footer__partners {
  margin-top: 47px;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.socials__item {
  margin-left: 28px;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .socials__picture {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .socials__picture {
    width: 30px;
    height: 30px;
  }
}

.socials__picture:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.footer__copyright {
  margin-top: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #fff;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    font-size: 18px;
  }
}